
html {
  font-size: 18px;
}

body {
  width: 960px;
  font-family: Helvetica;

}

.company {
  background-color: black;
  color: white;

}


.div {
  display: block;
}

.company .container {
  display: flex;
  align-items: center;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-size: 1rem;
}

img #logo {
  height: 1.5rem;
  padding-right: 1.0rem;
  padding-left: 0.5rem;
  opacity: 100%;
}

img {
  border-style: none;
  display: block;

}
.container {
  max-width: 960px;
  margin: 0 auto;
}
}

#moto {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: auto;
  opacity: 100%;

}

.headline {
    background-color: black;
    color: white;
    width: 20rem;
    padding: 2rem 3rem;
    position: relative;
    top: 9rem;

}

.menu nav {
  display: flex;
  padding: 12px 0;
}
.menu {
  background-color: firebrick;
  color: white;
  margin-top: 34em;


}
nav li {
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  display: list-item;
  display: inline-flex;
  padding: 30px;

}

li {
  display: list-item;
}
