.company {
  background-color: black;
  color: white;

}


.div {
  display: block;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.company img {
  height: 1.5em;
  padding-right: 15px;
  opacity: 100%;
}

img {
  border-style: none;
  display: block;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
}

.main-banner {
  background-image: url("../resources/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: auto;
  opacity: 100%;

}

.headline {
    background-color: black;
    color: white;
    width: 20em;
    padding: 2em 3em;
    position: relative;
    top: 9em;
}

.menu nav {
  display: flex;
  padding: 12px 0;
}
.menu {
  background-color: firebrick;
  color: white;
  margin-top: 34em;


}
nav li {
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  display: list-item;
  display: inline-flex;
  padding: 30px;

}

li {
  display: list-item;
}
